{{>header}}
<h1>How do you want to find the book?</h1>
<h2>Look up externally from ISBN:</h2>
<form method="post" action="lookup">
    <input type="text" name="isbn" />
    <input type="submit" value="Search by ISBN" />
</form>

<h2>Add manually:</h2>
<form method="post" action="lookup">
    <input type="submit" value="Add manually" />
</form>
{{>footer}}