{{>header}}
<script src="/replace-scanner-href.js"></script>
<h1>How do you want to find the book?</h1>
<h2>Look up externally from ISBN:</h2>
<h3>Enter ISBN manually:</h3>
<form method="get" action="lookup">
    <input type="text" name="isbn" />
    <input type="submit" value="Search by ISBN" />
</form>

<h3>Scan books using Barcode Scanner app</h3>
<a class="button" id="barcode-link" style="display: none;" href="/">Launch app</a>

<h2>Add manually:</h2>
<form method="post" action="lookup">
    <input type="submit" value="Add manually" />
</form>
{{>footer}}