{{>header}}
<h1>Add book to shelf</h1>
<div class="add-book-container">
    <div class="image-container" {{#bookMatch.imageUrl}}style="background-image: url({{bookMatch.imageUrl}})"{{/bookMatch.imageUrl}}></div>
    <div class="text-container">
        <form method="post" action="postBook">
            <br /><label for="title">Title:</label><br />
            <input type="text" name="title" value="{{#bookMatch.title}}{{bookMatch.title}}{{/bookMatch.title}}" />
            <br /><label for="author">Author:</label><br />
            <input type="text" name="author" value="{{#bookMatch.author}}{{bookMatch.author}}{{/bookMatch.author}}" />
            <br /> <label for="publishYear">Published:</label><br />
            <input type="text" name="publishYear" value="{{#bookMatch.publishYear}}{{bookMatch.publishYear}}{{/bookMatch.publishYear}}" />
            <br /><label for="isbn">ISBN:</label><br />
            <input type="text" name="isbn" value="{{#bookMatch.isbn}}{{bookMatch.isbn}}{{/bookMatch.isbn}}" />
            <br /><label for="imageUrl">Image URL:</label><br />
            <input type="text" name="imageUrl" value="{{#bookMatch.imageUrl}}{{bookMatch.imageUrl}}{{/bookMatch.imageUrl}}" />
            <br /><input type="submit" value="Add to shelf" />
        </form>
    </div>
</div>
{{>footer}}