<section class="book-result-container">
    <div class="image-container" style="background-image: url({{imageUrl}})"></div>
    <div class="text-container">
        <p>
            {{#title}}
                {{title}}
            {{/title}}
        </p>
        {{#author}}
        <p>
            {{author}}
        </p>
        {{/author}}
        {{#publishYear}}
            <p>
                {{publishYear}}
            </p>
        {{/publishYear}}
    </div>
</section>