<html>
<head>
    <link rel="stylesheet" href="/bundle.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div>
            <div class="left-container">
                <span>
                    📚 Bookshelf
                </span>
            </div>
            <div class="right-container">
                <form method="get" autocomplete="off" action="">
                    <input type="text" placeholder="Title or author" {{#query}}value="{{query}}" {{/query}}name="query" />
                    <input type="submit" value="🔎" />
                </form>
                <form method="get" action="add">
                    <input type="submit" value="Add books" />
                </form>
            </div>
        </div>
    </div>
    <main>