@import 'variables';

$footer-height: 100px;
$footer-padding-top: 30px;

.filler {
    height: $footer-height * 2;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -$footer-height;
}

footer {
    height: $footer-height - $footer-padding-top;
    padding-top: $footer-padding-top;
    background-color: $primary-color;
    color: $secondary-color;
    > div {
        text-align: center;
    }
}