@import 'variables';

main {
    max-width: $page-width;
    margin: auto;
    margin-top: 50px;

    @media (max-width: $break-medium) {
        padding: 0 2em;
    }
}

body, html {
    height: 100%;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

input, .button {
    background-color: white;
    padding: 5px 17px;
    border-radius: 1em;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
    font-size: 12pt;
    color: inherit;
}

.button-delete {
    background-color: red;
}


input[type=submit] {
    cursor: pointer;
}

a.button {
    color: inherit;
    text-decoration: inherit;
}