@import 'variables';

main {
    max-width: $page-width;
    margin: auto;
    margin-top: 50px;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

input {
    background-color: white;
    padding: 5px 17px;
    border-radius: 1em;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
}